body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wrapper{
  height: 100vh;
  width: 100vw;
  background-color: aqua;
  border: 2px solid red;
  box-sizing: border-box;
}
#img1{
  height:50px;
  width:50px;
}
#header{
  display: flex;
  height: 12%;
  background-color: aquamarine;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#menu_bar{
  width:80%;
}
a{
  margin:15px;
  width:34%;
}
#touch{
  background-color: antiquewhite;
  padding: 5px;
  
}
